<div class="container mt-5">
    <h4>Server error - refreshing will make the error disappear</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.Message}}</h5>
        <p class="font-weight-bold">This error comes from the server - not Angular</p>
        <p>What to do next?</p>
        <ol>
            <li>Check the network tab in chrome dev tools</li>
            <li>Reproduce the request in postman - if the same error occurs then 
                it's definitely not Angular
            </li>
        </ol>
        <h5>Stack trace</h5>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.Details}}</code>
    </ng-container>
</div>